<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                {{"cancel" | translate}} <span class="end" (click)="save()"> {{"continue" | translate}}</span>
            </div>
        </ion-title>
    </ion-toolbar>

    <div class="search_box d-flex">
        <ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>
        <ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="{{'search_location' | translate}}" [(ngModel)]="query" (ionInput)="searchPlace()">
        </ion-searchbar>

        <ion-icon class="zmdi zmdi-gps-dot ion-text-end" (click)="detect()"></ion-icon>
    </div>
</ion-header>

<ion-content class="bg_color">
    <div class="saved_address" *ngIf="places && places.length">
        <div *ngFor="let place of places" class="address_box d-flex" (click)="selectPlace(place)">
            <!-- <img src="assets/imgs/ic_home.png"> -->
            <div class="text_box">
                <!-- <h3>Home</h3> -->
                <p>{{place.description}}</p>
            </div>
        </div>
    </div>
    <div #map id="map" class="map">
        <!-- <ion-spinner></ion-spinner> -->
    </div>
    <div #pleaseConnect id="please-connect">
        <!-- <p>{{'loading' | translate}}</p> -->
    </div>
</ion-content>