<ion-tabs>

	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="home">
			<div class="img_box">
				<img src="assets/images/ic_medicine.png" class="before">
				<img src="assets/images/ic_medicineact.png" class="after">
			</div>
			<ion-label>{{'medicine' | translate}}</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="doctors">
			<div class="img_box">
				<img src="assets/images/ic_doctorsf.png" class="before">
				<img src="assets/images/ic_doctorsact.png" class="after">
			</div>
			<ion-label>{{'doctors' | translate}}</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="hospitals">
			<div class="img_box">
				<img src="assets/images/ic_hospitals.png" class="before">
				<img src="assets/images/ic_hospitalsact.png" class="after">
			</div>
			<ion-label>{{'hospitals' | translate}}</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="my_appointments">
			<div class="img_box">
				<img src="assets/images/ic_appointments.png" class="before">
				<img src="assets/images/ic_appointmentsact.png" class="after">
			</div>
			<ion-label>{{'appts' | translate}}</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="more">
			<div class="img_box">
				<img src="assets/images/ic_more.png" class="before">
				<img src="assets/images/ic_moreact.png" class="after">
			</div>
			<ion-label>{{'more' | translate}}</ion-label>
		</ion-tab-button>
	</ion-tab-bar>

</ion-tabs>