<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'reviews2' | translate}}</ion-title>
    </ion-toolbar>
    <div class="banner">
        <h2 class="d-flex">
       {{doctor?.name}}
            <span class="end">
                <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                {{doctor?.ratings}}
            </span>
        </h2>
        <h3 class="d-flex"> <span class="end">{{'avg_review' | translate}}</span></h3>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="empty-view" *ngIf="!isLoading && (!reviews || !reviews.length)">
        <div style="text-align:center;">
            <img src="assets/images/empty_orders.png" alt="no offers" />
            <span style="color:#9E9E9E; font-weight:bold;">
                {{'empty_reviews' | translate}}
            </span>
        </div>
    </div>
    <ion-list lines="none">
        <ion-item *ngFor="let review of reviews">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img [src]="review.user.image_url" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">{{review.user.name}}</span>
                            <span class="end">
                                {{review.rating}}
                                &nbsp;
                                <ion-icon [ngClass]="review.rating>=1 ? 'zmdi zmdi-star active' : 'zmdi zmdi-star'">
                                </ion-icon>
                                <ion-icon [ngClass]="review.rating>=2 ? 'zmdi zmdi-star active' : 'zmdi zmdi-star'">
                                </ion-icon>
                                <ion-icon [ngClass]="review.rating>=3 ? 'zmdi zmdi-star active' : 'zmdi zmdi-star'">
                                </ion-icon>
                                <ion-icon [ngClass]="review.rating>=4 ? 'zmdi zmdi-star active' : 'zmdi zmdi-star'">
                                </ion-icon>
                                <ion-icon [ngClass]="review.rating>=5 ? 'zmdi zmdi-star active' : 'zmdi zmdi-star'">
                                </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            <!-- {{'for' | translate}}&nbsp;<strong>Cold Fever</strong> -->
                            <span class="end">{{review.created_at}}</span>
                        </h3>
                    </div>
                </div>
                <p>{{review.review}}</p>
            </div>
        </ion-item>
        <ion-infinite-scroll (ionInfinite)="doInfiniteReviews($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'loading' | translate}}">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>
</ion-content>