<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>

            <div class="title_inner d-flex">
                <span class="end cart_icon" (click)="navCart()">
                    <ion-icon class="zmdi zmdi-shopping-cart ion-text-start"></ion-icon>
                    <ion-badge>{{eComService.getCartItemsCount()}}</ion-badge>
                </span>
            </div>

        </ion-title>
    </ion-toolbar>
    <div class="banner d-flex">
        <div class="img_box center_img">
            <img [src]="vendorProfile.image" class="crop_img">
        </div>
        <div class="text_box">
            <h2>{{vendorProfile.name}}</h2>
            <h4 class="d-flex">
                <ion-icon class="zmdi zmdi-pin ion-text-center"></ion-icon>
                {{vendorProfile.address}}
            </h4>
        </div>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="empty-view" *ngIf="!isLoading && (!products || !products.length)">
        <div style="text-align:center">
            <img src="assets/images/empty_categories.png" alt="no offers" />
            <span style="color:#9E9E9E; font-weight:bold;">
                {{'empty_results' | translate}}
            </span>
        </div>
    </div>
    <div class="item_row">
        <ion-row>
            <ion-col size="6" *ngFor="let product of products">
                <div class="item ion-text-center">
                    <div class="item_content" (click)="navProDetail(product)">
                        <div *ngIf="product.prescription_required" class="prescription_required">
                            <img src="assets/images/px.png">
                        </div>
                        <div class="img_box">
                            <img [src]="product.images[0]">
                        </div>
                        <h2>{{product.title}}</h2>
                    </div>
                    <div class="item_footer d-flex">
                        <h3 class="ion-text-center">{{product.priceToShow}}</h3>
                        <h4 class="ion-text-center end">
                            <span (click)="addProCart(product)">
                                +
                            </span>
                        </h4>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-infinite-scroll (ionInfinite)="doInfiniteProducts($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'loading' | translate}}">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>