<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'my_cart' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
    <div class="empty-view" *ngIf="!eComService.getCartItems() || !eComService.getCartItems().length">
        <div style="text-align:center">
            <img src="assets/images/empty_orders.png" alt="no offers" />
            <span style="color:#9E9E9E; font-weight:bold;">
                {{'empty_cart' | translate}}
            </span>
        </div>
    </div>
    <ion-list class="item_list" lines="none">
        <ion-item *ngFor="let ci of eComService.getCartItems()">
            <div class="item_inner d-flex">
                <div class="item_img">
                    <img [src]="ci.image">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        {{ci.title}}
                        <span *ngIf="ci.product.prescription_required" class="prescription_required end">
                            <img src="assets/images/px.png">
                        </span>
                    </h2>
                    <h3>{{ci.subtitle}}</h3>
                    <h4 class="d-flex">
                        <span class="add_remove_btn ion-text-start"
                            (click)="removeOrDecrementCartItemAndCheck(ci)">-</span>
                        <strong>{{ci.quantity}}</strong>
                        <span class="add_remove_btn add ion-text-end"
                            (click)="eComService.addOrIncrementCartItem(ci)">+</span>
                        <span class="end">{{currency_icon}}{{ci.getTotal(true)}}</span>
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item *ngIf="showPrescription" class="upload_prescription">
            <div class="item_inner d-flex">
                <div class="item_img">
                    <img src="assets/images/px.png">
                </div>
                <h2 class="d-flex">
                    {{'upload_prescription' | translate}}
                    <span class="icon_box end">
                        <ion-icon class="zmdi zmdi-eye ion-text-start" (click)="viewPrescription()"></ion-icon>
                        <ion-icon class="zmdi zmdi-delete ion-text-end" (click)="removePrescription()"></ion-icon>
                    </span>
                </h2>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer *ngIf="eComService.getCartItems() && eComService.getCartItems().length" class="ion-no-border">
    <div class="form" [ngClass]="fabAction ? 'active' : ''">
        <ion-item lines="none">
            <ion-input type="text" [(ngModel)]="couponCode" placeholder="{{'add_promocode' | translate}}"
                (keyup.enter)="verifyCoupon()"></ion-input>
            <div slot="end" class="item_end d-flex">
                <h3 (click)="navOffers()">{{'view_offers' | translate}}</h3>
                <ion-icon *ngIf="!couponRes" class="zmdi zmdi-check" slot="end" (click)="verifyCoupon()"></ion-icon>
                <ion-icon *ngIf="couponRes" class="zmdi zmdi-close" slot="end" (click)="removeCoupon()"></ion-icon>
            </div>
        </ion-item>
        <div class="payment_details">
            <div class="container">
                <h2 class="d-flex">
                    {{'sub_total' | translate}}
                    <span class="end">{{currency_icon}}{{eComService.getCartItemsTotal(true)}}</span>
                </h2>
                <h2 *ngFor="let ec of eComService.getExtraCharges()" class="d-flex">
                    {{ec.id | translate}}
                    <span class="end">{{ec.priceToShow}}</span>
                </h2>
            </div>
            <div class="amount_payable" (click)="toggleFab()">
                <h2 class="d-flex">
                    {{'amount_payable' | translate}}
                    <ion-icon class="zmdi zmdi-alert-circle-o"></ion-icon>
                    <ion-icon class="zmdi zmdi-chevron-down"></ion-icon>
                    <span class="end">{{currency_icon}}{{eComService.getCartTotal(true)}}</span>
                </h2>
            </div>
        </div>
    </div>

    <ion-button size="large" shape="full" class="btn" (click)="navCheckout()">
        {{'checkout' | translate}}
        <ion-icon class="zmdi zmdi-chevron-right"></ion-icon>
    </ion-button>
</ion-footer>