ion-header {
background: var(--white);
ion-toolbar ion-title {
    padding: 0 22px !important;
}
}

.profile {
    padding: 18px 11px;
    align-items: flex-start;

    .img_box {
        width: 100%;
        max-width: 150px;
        height: 150px;
        border-radius: 11px;
        margin-right: 18px;
        min-width: 150px;
    }

    .text_box {
        h2 {
            margin: 0;
            color: var(--text-dark);
            font-size: 1.53rem;
            font-weight: 600;
            line-height: 31px;
            margin-bottom: 10px;
            overflow: hidden;
//            display: -webkit-box;
//            -webkit-line-clamp: 3;
//            -webkit-box-orient: vertical;
        }

        p {
            margin: 0;
            color: var(--text-light2);
            font-size: 0.94rem;
            font-weight: 400;
            padding-bottom: 7px;
        }
    }
}

ion-row {
    padding: 7px 7px;

    ion-col {
        padding: 7px 7px;

        .menu_box {
            background: var(--white);
            padding: 20px 15px;
            border-radius: 4px;
            position: relative;
            width: 100%;
            height: 100px;
            overflow: hidden;

            h2 {
                margin: 0;
                color: var(--text-black);
                font-size: 1.1rem;
                font-weight: 700;
                padding-bottom: 7px;
            }

            h3 {
                margin: 0;
                color: var(--text-light2);
                font-weight: 400;
                font-size: 0.85rem;
                white-space: nowrap;
            }

            ion-icon {
                font-size: 2rem;
                opacity: 0.2;
                color: var(--text-light2);
                position: absolute;
                bottom: 5px;
                right: 5px;
            }
        }
    }
}

.buy_this_app {
        background: var(--primary);
    height: 45px;
    display: flex;
    align-items: center;
    min-width: 143px;
    padding: 0 13px;
    z-index: 9999;
    margin-top: 17px;
    border-radius: 7px;

    h2 {
        color: var(--white) !important;
        font-size: 1.1rem !important;
        font-weight: 500 !important;
        margin: 0 auto !important;
        display: flex;
        align-items: center;
        letter-spacing: 0 !important;

        ion-icon {
            font-size: 1rem;
            min-width: 23px;
        }
    }
}

ion-footer {
    background: var(--bg-color);
    z-index: 999;
    position: relative;

    .developed_by {
        padding: 2% 10% 2% 10%;
        width: fit-content;
        margin: 0 auto;

        h2 {
            margin: 0;
            color: var(--text-black);
            font-size: 1rem;
            font-weight: 500;
            min-width: 41%;
            letter-spacing: 0;
            padding: 0 5px;
        }

        img {
            //            max-width: 186px;
            max-width: 145px;

            &.dark-theme-logo {
                display: none;
            }
        }
    }
}